.obsidian
*.env*
*.json
*.properties*
*application-management*
/harbor/templates
/harbor/LICENSE
/kafka/impl/practise/environment
*key*
*cred*
*key*
*token*
*secret*
*.terraform*
*.tfstate*
*LICENSE.txt*