.obsidian
*.env*
*.json
*.properties*
*application-management*
/harbor/templates
/harbor/LICENSE
/kafka/impl/practise/environment
*key*
*cred*
*key*
*token*
*secret*
*backup*
*.terraform*
*.tfstate*
*LICENSE.txt*

# Python env
/kafka/impl/another-python/env/bin
/kafka/impl/another-python/env/include
/kafka/impl/another-python/env/lib
/kafka/impl/another-python/env/lib64