apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

commonLabels:
  env: prod

labels:
  - pairs:
      backend: nginx

commonAnnotations:
  istio.sidecar.inject: 'false'

nameSuffix: "-nginx"
namePrefix: "prod-"
namespace: "production"

patches:
  - path: deployment-prod.yaml
  - path: service-prod.yaml