apiVersion: beat.k8s.elastic.co/v1beta1
kind: Beat
metadata:
  name: elk-logging
  namespace: logging
spec:
  type: filebeat
  version: 9.2.2
  # version: {{version.stack}}
  elasticsearchRef:
    name: elk-logging
    # namespace: logging
  # kibanaRef:
  #   name: elk-logging
    # namespace: logging
  config:
    filebeat.inputs:
    - type: filestream
      id: kubernetes-container-logs
      paths:
        - /var/log/containers/*.log
      parsers:
        - container:
            stream: all
            format: auto
    processors:
    - add_kubernetes_metadata:
        host: ${NODE_NAME}
        matchers:
          - logs_path:
              logs_path: "/var/log/containers/"
    # output.logstash:
    #   hosts: ["elk-logging-ls-beats.logging.svc.cluster.local:5044"]
  daemonSet:
    podTemplate:
      spec:
        dnsPolicy: ClusterFirstWithHostNet
        hostNetwork: true
        securityContext:
          runAsUser: 0
        containers:
        - name: filebeat
          env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          volumeMounts:
          - name: varlogcontainers
            mountPath: /var/log/containers
          - name: varlogpods
            mountPath: /var/log/pods
          - name: varlibdockercontainers
            mountPath: /var/lib/docker/containers
        volumes:
        - name: varlogcontainers
          hostPath:
            path: /var/log/containers
        - name: varlogpods
          hostPath:
            path: /var/log/pods
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers