---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: minio-upload-pv
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 1Gi
  hostPath:
    path: /mnt/minio-uploads
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-upload-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard