apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: minio-operator
    app.kubernetes.io/name: operator
  name: minio-operator
  namespace: minio-operator
spec:
  replicas: 2
  selector:
    matchLabels:
      name: minio-operator

  strategy:
    type: Recreate

  template:
    metadata:
      labels:
        app.kubernetes.io/instance: minio-operator
        app.kubernetes.io/name: operator
        name: minio-operator
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: name
                operator: In
                values:
                - minio-operator
            topologyKey: kubernetes.io/hostname
      containers:
      - args:
        - controller
        env:
        - name: MINIO_CONSOLE_TLS_ENABLE
          value: "off"
        - name: OPERATOR_STS_ENABLED
          value: "on"
        - name: OPERATOR_SIDECAR_IMAGE
          value: quay.io/minio/operator-sidecar:v7.1.0
        image: minio/operator:v7.1.1
        imagePullPolicy: IfNotPresent
        name: minio-operator
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 200m
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsGroup: 1000
          runAsNonRoot: true
          runAsUser: 1000
          seccompProfile:
            type: RuntimeDefault
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      serviceAccountName: minio-operator
      terminationGracePeriodSeconds: 30