apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratelimit

spec:
  replicas: 1

  selector:
    matchLabels:
      app: ratelimit

  template:
    metadata:
      labels:
        app: ratelimit

    spec:
      containers:
        - name: ratelimit
          image: envoyproxy/ratelimit:latest
          ports:
            - containerPort: 8081
          env:
            - name: RUNTIME_ROOT
              value: /data
            - name: RUNTIME_SUBDIRECTORY
              value: ratelimit
            - name: REDIS_SOCKET_TYPE
              value: tcp
            - name: REDIS_URL
              value: redis:6379
          volumeMounts:
            - name: config-volume
              mountPath: /data/ratelimit
      volumes:
        - name: config-volume
          configMap:
            name: ratelimit-config

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: ratelimit-config

data:
  config.yaml: |
    domain: "prod-app"
    descriptors:
      - key: remote_address
        rate_limit:
          unit: minute
          requests_per_unit: 10

---

apiVersion: v1
kind: Service

metadata:
  name: ratelimit

spec:
  selector:
    app: ratelimit
  ports:
    - port: 8081
